.current-weather-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    max-width: 1280px;
    padding: 4rem;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 50px 50px 50px;
    
}
body{
    
    background-size: cover;
    background-repeat: no-repeat;

}
.horizontal-line{
    height: 3px; /* thickness */
    background-color: #FFF; 
    width: 100%; 
    margin: 1em 0; /* space  */
}

.location-time{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   border-left: 1px solid white;
   padding-left: 1em;
    margin: 0;
}

.weather-details-title{
    text-align: center;
    margin-top: 3em;
    padding: 0;
    font-weight: 500;
}
.weather-detail-condition-text{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.current-temperature{
    font-size: 7rem;
    margin: 0;
}

.inline{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 2em 2em 0 0em;
    border-radius: 50px 50px 0 0;
    padding: 2em 2em 0 2em;
    font-size: 1.5rem;
    font-weight: 500;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.8);
    /* border-radius: 50px 50px 0px 0px; */
}

.weather-day-information-container{
    width: 80%;
    /* temp centering */
    margin: 0 auto;
}
@media (min-width: 1200px){
    .inline{
        height: fit-content;
        align-self: center;
        margin: 2em 2em 2em 5%;        
        padding: 2em;
        border-radius: 50px;
    }
    .current-weather-container{
        min-height: 100vh;
        border-radius: 0;
    }
    .weather-day-information-container{
    width: 90%;
    }
}

.location-time > h2 {
    font-weight: 500;
}

.inline > p, .location-time > p, .location-time > h2 {
    margin: 0;
}

