*{
  box-sizing: border-box;
}

body{
  width: 100%;
  justify-content: center;
  align-items: center;
  /* background: #141E30; 
  background: -webkit-linear-gradient(to , #243B55, #141E30); 
  background: linear-gradient(to bottom, #243B55, #141E30);  */
}

#root {
  width: 100%;
  justify-content: space-between;
}

@media (min-width: 1200px){
  #root {
    display: flex;
  }
}